.CardGalery {
  figure {
    width: 150px;
    height: 222px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
@media (min-width: 768px) {
  .CardGalery {
    figure {
      width: 200px;
      height: 400px;
    }
  }
}
