@use "../../vars.scss" as v;
.secLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  transform: translateY(-100px);
  position: absolute;
  width: 100%;
  figure {
    background: v.$mainWhite;
    width: 175px;
    height: 175px;
    clip-path: circle(48% at 50% 50%);
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .secLogo {
    transform: translateY(-320px);
    figure {
      width: 360px;
      height: 360px;
      border-radius: 100%;
      img {
        width: 50%;
      }
    }
  }
}

@media (min-width: 992px) {
  .secLogo {
    transform: translateY(-290px);
    figure {
      width: 460px;
      height: 460px;
      border-radius: 100%;
      img {
        width: 50%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .secLogo {
    transform: translateY(-280px);
    figure {
      width: 460px;
      height: 460px;
      border-radius: 100%;
      img {
        width: 50%;
      }
    }
  }
}
