@use "../../vars.scss" as v;
.headerDesktop {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 284px);
  .item {
    border: 1px solid v.$mainWhite;
    color: v.$mainWhite;

    &-date {
      font-size: 1rem;
      font-weight: 700;
      color: v.$mainWhite;
      display: flex;
      align-items: end;
      justify-content: center;
      padding-bottom: 30px;
      letter-spacing: 6px;
    }

    &-mouth {
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        width: 250px;
        height: 340px;
        background-color: v.$green;
        object-fit: cover;
        border: 3px solid v.$mainWhite;
        position: absolute;
        transform: translate(-60px, -210px);
      }
    }

    &-universe {
      width: 100%;
      height: 100%;
      img {
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }

    &-Texts {
      display: flex;
      flex-direction: column;
      .sec1 {
        display: flex;
        gap: 20px;
        align-items: center;
        position: absolute;
        transform: translate(-190px, -10px);
        z-index: 1;
        h2 {
          font-size: 150px;
          font-weight: 700;
          color: v.$mainWhite;
        }
        &-icons {
          display: flex;
          gap: 10px;
          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50px;
            background: v.$green;
            padding: 15px;
            border-radius: 60px;
            color: v.$mainBlackColor;
            cursor: pointer;
          }
          .iconEve {
            display: flex;
            justify-content: center;
            align-items: center;
            background: v.$green;
            padding: 10px;
            border-radius: 60px;
            color: v.$mainBlackColor;
            cursor: pointer;
          }
        }
      }
      .sec2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        transform: translate(-100px, 140px);
        z-index: 1;
        h2 {
          font-size: 150px;
          font-weight: 700;
          color: v.$mainWhite;
        }

        &-subtexts {
          display: flex;
          align-items: center;
          gap: 30px;
          transform: translate(320px, -30px);
          h3 {
            width: 135px;
            height: 50px;
            font-size: 30px;
            color: v.$mainBlackColor;
            background: v.$green;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          div {
            display: flex;
            flex-direction: column;
            gap: 5px;
            p {
              font-size: 20px;
              font-weight: 700;
              color: v.$mainWhite;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 3000px) {
  .headerDesktop {
    .item {
      &-mouth {
        img {
          transform: translate(50px, -250px);
          width: 290px;
          height: 420px;
        }
      }

      &-Texts {
        .sec1 {
          transform: translate(-80px, 20px);
          h2 {
            font-size: 150px;
          }
          &-icons {
            gap: 5px;
            .iconEve {
              font-size: 25px;
              background: v.$green;
              padding: 5px;
              border-radius: 50px;
              color: v.$mainBlackColor;
              cursor: pointer;
              img {
                width: 50px;
                height: 50px;
                object-fit: cover;
              }
            }
          }
        }
        .sec2 {
          transform: translate(10px, 180px);
          h2 {
            font-size: 150px;
          }
          &-subtexts {
            gap: 20px;
            transform: translate(350px, -10px);
          }
        }
      }
    }
  }
}

@media (max-width: 1800px) {
  .headerDesktop {
    .item {
      &-mouth {
        img {
          transform: translate(-20px, -230px);
          width: 230px;
          height: 360px;
        }
      }

      &-Texts {
        .sec1 {
          transform: translate(-130px, 20px);
          h2 {
            font-size: 150px;
          }
          &-icons {
            gap: 5px;
            .iconEve {
              font-size: 25px;
              background: v.$green;
              padding: 5px;
              border-radius: 50px;
              color: v.$mainBlackColor;
              cursor: pointer;
              img {
                width: 50px;
                height: 50px;
                object-fit: cover;
              }
            }
          }
        }
        .sec2 {
          transform: translate(-90px, 180px);
          h2 {
            font-size: 150px;
          }
          &-subtexts {
            gap: 20px;
            transform: translate(350px, -10px);
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .headerDesktop {
    .item {
      &-mouth {
        img {
          transform: translate(-70px, -230px);
          width: 200px;
          height: 330px;
        }
      }

      &-Texts {
        .sec1 {
          transform: translate(-130px, 50px);
          h2 {
            font-size: 130px;
          }
          &-icons {
            gap: 5px;
            .iconEve {
              font-size: 25px;
              background: v.$green;
              padding: 5px;
              border-radius: 50px;
              color: v.$mainBlackColor;
              cursor: pointer;
              img {
                width: 50px;
                height: 50px;
                object-fit: cover;
              }
            }
          }
        }
        .sec2 {
          transform: translate(-90px, 180px);
          h2 {
            font-size: 130px;
          }
          &-subtexts {
            gap: 20px;
            transform: translate(250px, -10px);
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .headerDesktop {
    .item {
      &-mouth {
        img {
          transform: translate(-50px, -230px);
          width: 200px;
          height: 330px;
        }
      }

      &-Texts {
        .sec1 {
          transform: translate(-120px, 70px);
          h2 {
            font-size: 100px;
          }
          &-icons {
            gap: 5px;
            .iconEve {
              background: v.$green;
              border-radius: 50px;
              color: v.$mainBlackColor;
              padding: 5px;
              cursor: pointer;
              img {
                width: 50px;
                height: 50px;
                object-fit: cover;
              }
            }
          }
        }
        .sec2 {
          transform: translate(-90px, 180px);
          h2 {
            font-size: 100px;
          }
          &-subtexts {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 804px) {
  .headerDesktop {
    .item {
      &-Texts {
        .sec1 {
          h2 {
            font-size: 80px;
          }
          &-icons {
            .iconEve {
              font-size: 1rem;
              padding: 12px;
            }
          }
        }
        .sec2 {
          h2 {
            font-size: 80px;
          }
        }
      }
    }
  }
}
