.secVideo {
  width: 100%;
  height: 470px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  .secVideo {
    height: 870px;
    img {
      width: 100%;
    }
  }
}

@media (min-width: 1800px) {
  .secVideo {
    height: 1500px;
    img {
      width: 100%;
    }
  }
}
