@use "../../vars.scss" as v;
.secBanners {
  width: 100%;

  &-texts {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    img {
      width: inherit;
      height: 115px;
      object-fit: cover;
    }
  }
}

@media (min-width: 768px) {
  .secBanners {
    &-texts {
      height: 250px;

      img {
        height: 180px;
      }
    }
  }
}
