@use "../../vars.scss" as v;
.secInfoMain {
  display: flex;
  flex-direction: column;
  .CarruselHome {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .secInfoMain {
    flex-direction: row;
    div {
      width: 50%;
    }
  }
}
